# Cloud PostgreSQL Database Guide with Neon

This notebook provides a step-by-step guide to deploying and working with a PostgreSQL database on **Neon**, a serverless PostgreSQL platform.

## What is Neon?

Neon is a serverless PostgreSQL platform that offers:
- **Serverless architecture** - Pay only for what you use
- **Instant provisioning** - Database ready in seconds
- **Branching** - Create database branches like Git
- **Autoscaling** - Automatically scales based on demand

## What We'll Cover

1. Setting up your environment
2. Connecting to Neon database
3. Creating tables
4. Inserting data
5. Querying data
6. Updating data
7. Deleting data
8. Dropping tables

## Sample Dataset

We'll work with a simple e-commerce scenario with two tables:
- **customers** - Store customer information
- **orders** - Store order details linked to customers

## Step 1: Prerequisites - Sign Up for Neon

Before we begin, you need to:

1. **Create a Neon account**
   - Go to [https://neon.tech/](https://neon.tech/)
   - Sign up for a free account (no credit card required)

2. **Create a new project**
   - After signing in, create a new project
   - Choose your region (pick one closest to you)
   - Give it a name (e.g., "my-first-database")

3. **Get your connection string**
   - After creating the project, click the **Connect** button
   - Select "Connection String" from the dropdown & copy it - it looks like: `postgresql://username:password@ep-example-123456.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require`
   - Rename the `env.sample` file to `.env` and save your connection string there
   - Set the environment variable: `CONNECTION_STRING="your-connection-string-here"`

üìù **Note**: Neon's free tier includes 500 MB storage and 100 hours of compute per month - perfect for learning!

## Step 2: Install Required Packages

We'll use `psycopg` (version 3), the modern PostgreSQL adapter for Python, which has the best support for Neon's serverless architecture.

In [2]:
# Install the PostgreSQL adapter for Python (psycopg version 3)
%pip install "psycopg[binary]" python-dotenv

Requirement already satisfied: python-dotenv in /opt/anaconda3/lib/python3.12/site-packages (0.21.0)
Requirement already satisfied: psycopg[binary] in /opt/anaconda3/lib/python3.12/site-packages (3.2.12)
Requirement already satisfied: typing-extensions>=4.6 in /opt/anaconda3/lib/python3.12/site-packages (from psycopg[binary]) (4.15.0)
Requirement already satisfied: psycopg-binary==3.2.12 in /opt/anaconda3/lib/python3.12/site-packages (from psycopg[binary]) (3.2.12)
Note: you may need to restart the kernel to use updated packages.

## Step 3: Connect to Your Neon Database

Now let's establish a connection to your Neon database.

‚ö†Ô∏è **IMPORTANT**: Replace the connection string below with YOUR actual connection string from Neon!

In [3]:
import psycopg
from dotenv import load_dotenv
import os

# Load environment variables
load_dotenv()

# Get the connection string from environment
CONNECTION_STRING = os.getenv("CONNECTION_STRING")

# Establish connection
try:
    conn = psycopg.connect(CONNECTION_STRING)
    print("‚úÖ Successfully connected to Neon database!")
    
    # Get server version
    with conn.cursor() as cur:
        cur.execute("SELECT version();")
        version = cur.fetchone()[0]
        print(f"Server version: {version[:50]}...")
except Exception as e:
    print(f"‚ùå Connection failed: {e}")
    print("\nMake sure you created a .env file with your CONNECTION_STRING")

‚úÖ Successfully connected to Neon database!
Server version: PostgreSQL 17.5 (6bc9ef8) on aarch64-unknown-linux...

### Understanding the Connection

The connection string contains:
- **username**: Your database user (e.g., `neondb_owner`)
- **password**: Your database password
- **host**: Neon's server address (e.g., `ep-xxx-pooler.region.aws.neon.tech`)
- **database**: Database name (usually `neondb` by default)
- **sslmode=require**: Ensures encrypted connection

## Step 4: Create Tables

Let's create two related tables:
1. **customers** table - stores customer information
2. **orders** table - stores orders made by customers

In [4]:
# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# SQL command to create customers table
create_customers_table = """
CREATE TABLE IF NOT EXISTS customers (
    customer_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    city VARCHAR(50),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

# SQL command to create orders table
create_orders_table = """
CREATE TABLE IF NOT EXISTS orders (
    order_id SERIAL PRIMARY KEY,
    customer_id INTEGER REFERENCES customers(customer_id) ON DELETE CASCADE,
    product_name VARCHAR(100) NOT NULL,
    quantity INTEGER NOT NULL,
    price DECIMAL(10, 2) NOT NULL,
    order_date DATE DEFAULT CURRENT_DATE
);
"""

try:
    # Execute table creation commands
    cursor.execute(create_customers_table)
    cursor.execute(create_orders_table)
    
    # Commit the changes
    conn.commit()
    
    print("‚úÖ Tables created successfully!")
    print("   - customers table")
    print("   - orders table")
except Exception as e:
    print(f"‚ùå Error creating tables: {e}")
    conn.rollback()

‚úÖ Tables created successfully!
   - customers table
   - orders table

## Step 5: Insert Data into Tables

Now let's add some sample data to our tables.

In [5]:
# Sample customer data
customers_data = [
    ('Alice Johnson', 'alice.johnson@email.com', 'New York'),
    ('Bob Smith', 'bob.smith@email.com', 'Los Angeles'),
    ('Carol Williams', 'carol.w@email.com', 'Chicago'),
    ('David Brown', 'david.brown@email.com', 'Houston'),
    ('Emma Davis', 'emma.davis@email.com', 'Phoenix')
]

# Insert customers
insert_customer_query = """
INSERT INTO customers (name, email, city)
VALUES (%s, %s, %s)
RETURNING customer_id;
"""

try:
    customer_ids = []
    for customer in customers_data:
        cursor.execute(insert_customer_query, customer)
        customer_id = cursor.fetchone()[0]
        customer_ids.append(customer_id)
    
    conn.commit()
    print(f"‚úÖ Successfully inserted {len(customers_data)} customers")
    print(f"   Customer IDs: {customer_ids}")
except Exception as e:
    print(f"‚ùå Error inserting customers: {e}")
    conn.rollback()

‚úÖ Successfully inserted 5 customers
   Customer IDs: [1, 2, 3, 4, 5]

In [6]:
# Sample order data
# Format: (customer_id, product_name, quantity, price)
orders_data = [
    (1, 'Laptop', 1, 1299.99),
    (1, 'Wireless Mouse', 2, 29.99),
    (2, 'Mechanical Keyboard', 1, 149.99),
    (2, 'USB-C Hub', 1, 79.99),
    (3, 'Monitor 27"', 2, 349.99),
    (3, 'HDMI Cable', 3, 12.99),
    (4, 'Webcam HD', 1, 89.99),
    (5, 'Desk Lamp', 1, 45.99),
    (5, 'Notebook', 5, 8.99)
]

# Insert orders
insert_order_query = """
INSERT INTO orders (customer_id, product_name, quantity, price)
VALUES (%s, %s, %s, %s);
"""

try:
    cursor.executemany(insert_order_query, orders_data)
    conn.commit()
    print(f"‚úÖ Successfully inserted {len(orders_data)} orders")
except Exception as e:
    print(f"‚ùå Error inserting orders: {e}")
    conn.rollback()

‚úÖ Successfully inserted 9 orders

### Key Concepts

- **%s**: Placeholder for parameters (prevents SQL injection)
- **RETURNING**: Returns the generated customer_id after insert
- **executemany()**: Efficiently inserts multiple rows
- **commit()**: Saves changes to the database
- **rollback()**: Undoes changes if an error occurs

## Step 6: Query and View Data

Let's verify our data was inserted correctly by querying the tables.

In [7]:
# Query all customers
cursor.execute("SELECT * FROM customers ORDER BY customer_id;")
customers = cursor.fetchall()

print("üìã CUSTOMERS TABLE")
print("=" * 90)
print(f"{'ID':<5} {'Name':<20} {'Email':<30} {'City':<15} {'Created At':<20}")
print("=" * 90)

for customer in customers:
    print(f"{customer[0]:<5} {customer[1]:<20} {customer[2]:<30} {customer[3]:<15} {str(customer[4]):<20}")

print(f"\nTotal customers: {len(customers)}")

üìã CUSTOMERS TABLE
==========================================================================================
ID    Name                 Email                          City            Created At
==========================================================================================
1     Alice Johnson        alice.johnson@email.com        New York        2025-11-01 09:39:13.124911
2     Bob Smith            bob.smith@email.com            Los Angeles     2025-11-01 09:39:13.124911
3     Carol Williams       carol.w@email.com              Chicago         2025-11-01 09:39:13.124911
4     David Brown          david.brown@email.com          Houston         2025-11-01 09:39:13.124911
5     Emma Davis           emma.davis@email.com           Phoenix         2025-11-01 09:39:13.124911

Total customers: 5

In [8]:
# Query all orders
cursor.execute("SELECT * FROM orders ORDER BY order_id;")
orders = cursor.fetchall()

print("üì¶ ORDERS TABLE")
print("=" * 100)
print(f"{'Order ID':<10} {'Customer ID':<15} {'Product':<25} {'Qty':<8} {'Price':<12} {'Order Date':<15}")
print("=" * 100)

for order in orders:
    print(f"{order[0]:<10} {order[1]:<15} {order[2]:<25} {order[3]:<8} ${order[4]:<11.2f} {str(order[5]):<15}")

print(f"\nTotal orders: {len(orders)}")

üì¶ ORDERS TABLE
====================================================================================================
Order ID   Customer ID     Product                   Qty      Price        Order Date
====================================================================================================
1          1               Laptop                    1        $1299.99     2025-11-01
2          1               Wireless Mouse            2        $29.99       2025-11-01
3          2               Mechanical Keyboard       1        $149.99      2025-11-01
4          2               USB-C Hub                 1        $79.99       2025-11-01
5          3               Monitor 27"               2        $349.99      2025-11-01
6          3               HDMI Cable                3        $12.99       2025-11-01
7          4               Webcam HD                 1        $89.99       2025-11-01
8          5               Desk Lamp                 1        $45.99       2025-11-01
9          5               Notebook                  5        $8.99        2025-11-01

Total orders: 9

### Advanced Query: JOIN Tables

Let's combine data from both tables to see customer names with their orders.

In [9]:
# Query with JOIN to combine customer and order information
join_query = """
SELECT 
    c.name,
    c.city,
    o.product_name,
    o.quantity,
    o.price,
    (o.quantity * o.price) as total_cost
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
ORDER BY c.name, o.order_id;
"""

cursor.execute(join_query)
results = cursor.fetchall()

print("üë• CUSTOMER ORDERS (Joined View)")
print("=" * 110)
print(f"{'Customer':<20} {'City':<15} {'Product':<25} {'Qty':<8} {'Unit Price':<12} {'Total':<12}")
print("=" * 110)

for row in results:
    print(f"{row[0]:<20} {row[1]:<15} {row[2]:<25} {row[3]:<8} ${row[4]:<11.2f} ${row[5]:<11.2f}")

print(f"\nTotal order records: {len(results)}")

üë• CUSTOMER ORDERS (Joined View)
==============================================================================================================
Customer             City            Product                   Qty      Unit Price   Total
==============================================================================================================
Alice Johnson        New York        Laptop                    1        $1299.99     $1299.99
Alice Johnson        New York        Wireless Mouse            2        $29.99       $59.98
Bob Smith            Los Angeles     Mechanical Keyboard       1        $149.99      $149.99
Bob Smith            Los Angeles     USB-C Hub                 1        $79.99       $79.99
Carol Williams       Chicago         Monitor 27"               2        $349.99      $699.98
Carol Williams       Chicago         HDMI Cable                3        $12.99       $38.97
David Brown          Houston         Webcam HD                 1        $89.99       $89.99
Emma Davis           Phoenix         Desk Lamp                 1        $45.99       $45.99
Emma Davis           Phoenix         Notebook                  5        $8.99        $44.95

Total order records: 9

### Aggregation Query: Calculate Total Spending per Customer

In [10]:
# Calculate total spending per customer
aggregation_query = """
SELECT 
    c.name,
    c.email,
    COUNT(o.order_id) as total_orders,
    SUM(o.quantity * o.price) as total_spent
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.name, c.email
ORDER BY total_spent DESC;
"""

cursor.execute(aggregation_query)
summary = cursor.fetchall()

print("üí∞ CUSTOMER SPENDING SUMMARY")
print("=" * 85)
print(f"{'Customer':<20} {'Email':<30} {'Orders':<10} {'Total Spent':<15}")
print("=" * 85)

for row in summary:
    total_spent = row[3] if row[3] is not None else 0
    print(f"{row[0]:<20} {row[1]:<30} {row[2]:<10} ${total_spent:<14.2f}")

# Calculate grand total
grand_total = sum(row[3] if row[3] is not None else 0 for row in summary)
print("=" * 85)
print(f"{'GRAND TOTAL':<60} ${grand_total:.2f}")

üí∞ CUSTOMER SPENDING SUMMARY
=====================================================================================
Customer             Email                          Orders     Total Spent
=====================================================================================
Alice Johnson        alice.johnson@email.com        2          $1359.97
Carol Williams       carol.w@email.com              2          $738.95
Bob Smith            bob.smith@email.com            2          $229.98
Emma Davis           emma.davis@email.com           2          $90.94
David Brown          david.brown@email.com          1          $89.99
=====================================================================================
GRAND TOTAL                                                  $2509.83

## Step 7: Update Data

Let's update some existing records in our database.

In [11]:
# Update: Change Alice's email and city
update_customer_query = """
UPDATE customers
SET email = %s, city = %s
WHERE name = %s
RETURNING customer_id, name, email, city;
"""

try:
    cursor.execute(update_customer_query, ('alice.new@email.com', 'Boston', 'Alice Johnson'))
    updated_customer = cursor.fetchone()
    conn.commit()
    
    print("‚úÖ Customer updated successfully!")
    print(f"   ID: {updated_customer[0]}")
    print(f"   Name: {updated_customer[1]}")
    print(f"   New Email: {updated_customer[2]}")
    print(f"   New City: {updated_customer[3]}")
except Exception as e:
    print(f"‚ùå Error updating customer: {e}")
    conn.rollback()

‚úÖ Customer updated successfully!
   ID: 1
   Name: Alice Johnson
   New Email: alice.new@email.com
   New City: Boston

In [12]:
# Update: Increase price of all laptops by 10%
update_price_query = """
UPDATE orders
SET price = price * 1.10
WHERE product_name = %s
RETURNING order_id, product_name, price;
"""

try:
    cursor.execute(update_price_query, ('Laptop',))
    updated_orders = cursor.fetchall()
    conn.commit()
    
    print(f"‚úÖ Updated {len(updated_orders)} laptop order(s)")
    for order in updated_orders:
        print(f"   Order ID {order[0]}: {order[1]} - New price: ${order[2]:.2f}")
except Exception as e:
    print(f"‚ùå Error updating prices: {e}")
    conn.rollback()

‚úÖ Updated 1 laptop order(s)
   Order ID 1: Laptop - New price: $1429.99

### Verify Updates

In [13]:
# Verify the customer update
cursor.execute("SELECT * FROM customers WHERE name = 'Alice Johnson';")
alice = cursor.fetchone()

print("üìã Updated Customer Record:")
print(f"   Name: {alice[1]}")
print(f"   Email: {alice[2]}")
print(f"   City: {alice[3]}")

# Verify the price update
cursor.execute("SELECT * FROM orders WHERE product_name = 'Laptop';")
laptop_orders = cursor.fetchall()

print("\nüíª Updated Laptop Orders:")
for order in laptop_orders:
    print(f"   Order ID {order[0]}: ${order[4]:.2f}")

üìã Updated Customer Record:
   Name: Alice Johnson
   Email: alice.new@email.com
   City: Boston

üíª Updated Laptop Orders:
   Order ID 1: $1429.99

## Step 8: Delete Data

Now let's remove some records from our database.

In [14]:
# Delete: Remove all orders with quantity greater than 2
delete_orders_query = """
DELETE FROM orders
WHERE quantity > %s
RETURNING order_id, product_name, quantity;
"""

try:
    cursor.execute(delete_orders_query, (2,))
    deleted_orders = cursor.fetchall()
    conn.commit()
    
    print(f"‚úÖ Deleted {len(deleted_orders)} order(s)")
    for order in deleted_orders:
        print(f"   Order ID {order[0]}: {order[1]} (quantity: {order[2]})")
except Exception as e:
    print(f"‚ùå Error deleting orders: {e}")
    conn.rollback()

‚úÖ Deleted 2 order(s)
   Order ID 6: HDMI Cable (quantity: 3)
   Order ID 9: Notebook (quantity: 5)

In [15]:
# Delete: Remove a specific customer
# Note: This will also delete their orders due to CASCADE
delete_customer_query = """
DELETE FROM customers
WHERE email = %s
RETURNING customer_id, name;
"""

try:
    cursor.execute(delete_customer_query, ('emma.davis@email.com',))
    deleted_customer = cursor.fetchone()
    conn.commit()
    
    if deleted_customer:
        print(f"‚úÖ Deleted customer: {deleted_customer[1]} (ID: {deleted_customer[0]})")
        print("   ‚ö†Ô∏è  Associated orders were also deleted (CASCADE)")
    else:
        print("‚ÑπÔ∏è  No customer found with that email")
except Exception as e:
    print(f"‚ùå Error deleting customer: {e}")
    conn.rollback()

‚úÖ Deleted customer: Emma Davis (ID: 5)
   ‚ö†Ô∏è  Associated orders were also deleted (CASCADE)

### Verify Deletions

In [16]:
# Count remaining records
cursor.execute("SELECT COUNT(*) FROM customers;")
customer_count = cursor.fetchone()[0]

cursor.execute("SELECT COUNT(*) FROM orders;")
order_count = cursor.fetchone()[0]

print(f"üìä Remaining Records:")
print(f"   Customers: {customer_count}")
print(f"   Orders: {order_count}")

üìä Remaining Records:
   Customers: 4
   Orders: 6

## Step 9: Drop Tables

Finally, let's clean up by dropping the tables we created.

‚ö†Ô∏è **WARNING**: This will permanently delete the tables and all their data!

In [17]:
# Drop tables in correct order (orders first due to foreign key)
drop_orders_query = "DROP TABLE IF EXISTS orders CASCADE;"
drop_customers_query = "DROP TABLE IF EXISTS customers CASCADE;"

try:
    cursor.execute(drop_orders_query)
    print("‚úÖ Dropped 'orders' table")
    
    cursor.execute(drop_customers_query)
    print("‚úÖ Dropped 'customers' table")
    
    conn.commit()
    print("\nüéâ All tables have been successfully dropped!")
except Exception as e:
    print(f"‚ùå Error dropping tables: {e}")
    conn.rollback()

‚úÖ Dropped 'orders' table
‚úÖ Dropped 'customers' table

üéâ All tables have been successfully dropped!

### Verify Tables Were Dropped

In [18]:
# Check if tables still exist
check_tables_query = """
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public' 
AND table_name IN ('customers', 'orders');
"""

cursor.execute(check_tables_query)
existing_tables = cursor.fetchall()

if len(existing_tables) == 0:
    print("‚úÖ Confirmed: Both tables have been dropped successfully")
else:
    print(f"‚ö†Ô∏è  Warning: {len(existing_tables)} table(s) still exist:")
    for table in existing_tables:
        print(f"   - {table[0]}")

‚úÖ Confirmed: Both tables have been dropped successfully

## Step 10: Close the Connection

Always close the database connection when you're done!

In [19]:
# Close cursor and connection
cursor.close()
conn.close()

print("‚úÖ Database connection closed")
print("\nüéì Tutorial completed successfully!")

‚úÖ Database connection closed

üéì Tutorial completed successfully!

## Summary

Congratulations! You've learned how to:

‚úÖ **Connect** to a Neon PostgreSQL database  
‚úÖ **Create** tables with relationships  
‚úÖ **Insert** data into multiple tables  
‚úÖ **Query** data with SELECT statements  
‚úÖ **Join** tables to combine related data  
‚úÖ **Update** existing records  
‚úÖ **Delete** specific records  
‚úÖ **Drop** tables to clean up  

## Key SQL Commands Reference

| Operation | SQL Command | Example |
|-----------|-------------|----------|
| Create | `CREATE TABLE` | `CREATE TABLE users (id SERIAL, name VARCHAR(100));` |
| Insert | `INSERT INTO` | `INSERT INTO users (name) VALUES ('John');` |
| Select | `SELECT` | `SELECT * FROM users WHERE name = 'John';` |
| Update | `UPDATE` | `UPDATE users SET name = 'Jane' WHERE id = 1;` |
| Delete | `DELETE FROM` | `DELETE FROM users WHERE id = 1;` |
| Drop | `DROP TABLE` | `DROP TABLE users;` |

## Best Practices

1. **Always use parameterized queries** (`%s`) to prevent SQL injection
2. **Commit your changes** with `conn.commit()` after modifications
3. **Handle errors** with try-except blocks and `conn.rollback()`
4. **Close connections** when done to free up resources
5. **Use RETURNING** clause to get feedback on INSERT/UPDATE/DELETE operations
6. **Store credentials securely** (use environment variables in production)

## Next Steps

- Explore Neon's branching feature for development workflows
- Learn about database indexes for query optimization
- Study transactions for complex operations
- Try connection pooling for better performance
- Explore ORMs like SQLAlchemy for higher-level abstractions

## Resources

- [Neon Documentation](https://neon.tech/docs)
- [PostgreSQL Documentation](https://www.postgresql.org/docs/)
- [Psycopg2 Documentation](https://www.psycopg.org/docs/)

Happy coding! üöÄ